*{
    padding: 0;
    margin: 0;
    font-family: 'ubuntu';
}

.titrus{

    display: flex;
   text-align: center;
    flex-wrap: nowrap;
}

.titrus h1{
    display: flex;
    font-size: 100px;

}
.btn1{
    text-align: center;
}

.btn2{
    text-align: center;
}

input.visa{
    width: 100px;
   
    display: flex;
    justify-content: center;
}

.phone{
    width: 100px;
    position: relative;
    display: flex;  
}