*{
    padding: 0;
    margin: 0;
    font-family: 'ubuntu';
}


.toto{
   text-align: center;
    font-size: 80px;
    

}

.toto h1{
    font-family: 'ubuntu';
}

.tata{
    text-align: center;
     font-size: 50px;
     top: 5px;
 
 }


.btn1{
    text-align: center;
}

.btn2{
    text-align: center;
}

input.visa{
    width: 100px;
  
}

.phone{
    width: 100px;
  
}
